<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <style>
            body{
                margin: 0;
                background-image: url('https://belfinbaby555.github.io/images/wallpaper.png');
               
                background-size: cover;
                background-repeat: no-repeat;
            }
        </style>
        <div class="w-screen h-screen backdrop-blur-sm flex">
            <div class="w-96 h-fit px-24 py-4 rounded-lg m-auto bg-slate-50/75 backdrop-blur-sm shadow-2xl">
                <img src="https://belfinbaby555.github.io/images/image-removebg-preview%20(1).png" class="w-24 mx-auto my-4 h-fit"/>
                <h4 class="text-center text-2xl">Email Verified</h4>
                <p class="text-center text-base py-4">Redirecting in... <b class="font-semibold" id="time">3</b></p>
            </div>
        </div>
        <script>
            var time=3;
            setInterval(()=>{
                time=time-1;
                document.getElementById('time').innerHTML=time
                if(time==0){
                    window.location.href="/login"
                }
            },1000)
        </script>
    </body>
</html>